.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws

# General
eclipse/
sources/
